<!DOCTYPE html>
<html>
<head>
  <title>JCL Web Store</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>
    
      <div id="banner">          
          <%= @page_title || "Our Products" %>    
      </div>   
    <div id="columns">     
        <div id="side">
            <ul> 
                <div id="cart">      
                    <%= render @cart %> 
                </div>
            </ul>
            <ul>         
                <li><a href="https://jclstoreapp.herokuapp.com/">Home</a></li> 
                <li><a href="/aboutus">About Us</a></li> 
                <li><a href="/contact">Contact</a></li> 
                <li><a href="/questions">Questions</a></li>   
                <li><a href="/login">Admin Login</a></li>
            </ul>   
            <% if session[:user_id] %> 
                <ul>
                    <li><a href="/admin">Admin Home</a></li>
                    <li><a href="/items">Items</a></li>
                    <li><a href="/users">Admin Users</a></li>
                    <%= button_to 'Logout', logout_path, method: :delete   %>
                </ul>
            <% end %>
        </div>     
        <div id="main"> 
            <%= yield %>     
        </div>   
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
